@charset "utf-8";
/* CSS Document */

img.logo{
	width:auto;
	height:100%;
}

.ui-title{
	display:none;
}

.header{
	display:block;
	position:fixed;
	top:0;
	width:100%;
	z-index:100;
	height:42px;
}

.main{
	margin-top:45px;	
}