<?xml version="1.0" encoding="UTF-8"?>
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />
<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

<!-- MODIFICATION REQUIRED, replace $PACKAGE_NAME with your apps package name -->
<uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" />

<!-- MODIFICATION REQUIRED, replace $PACKAGE_NAME with your apps package name -->
<permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature" />


<receiver android:name="com.urbanairship.phonegap.PushReceiver" />
<receiver android:name="com.urbanairship.CoreReceiver" />
<receiver android:name="com.urbanairship.push.GCMPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
    <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
        <!-- MODIFICATION REQUIRED, replace $PACKAGE_NAME with your apps package name -->
        <category android:name="$PACKAGE_NAME" />
    </intent-filter>
</receiver>

<meta-data android:name="com.urbanairship.autopilot" android:value="com.urbanairship.phonegap.PushAutopilot" />
<service android:name="com.urbanairship.push.PushService" android:label="Push Notification Service"/>
<service android:name="com.urbanairship.push.PushWorkerService" android:label="Push Notification Worker Service"/>
<service android:name="com.urbanairship.analytics.EventService" android:label="Event Service"/>

<!-- MODIFICATION REQUIRED, replace $PACKAGE_NAME with your apps package name -->
<provider android:name="com.urbanairship.UrbanAirshipProvider"
    android:authorities="$PACKAGE_NAME.urbanairship.provider"
    android:exported="false"
    android:multiprocess="true" />
<service android:name="com.urbanairship.location.LocationService" android:label="Segments Service"/>