<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements.  See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership.  The ASF licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License.  You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied.  See the License for the
 specific language governing permissions and limitations
 under the License.
-->
<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "Trinidad Guardian"
        version   = "1.0.0">
 	<name>Trinidad Guardian</name>

    <description>
        Get your latest news from the Trinidad Guardian
    </description>

    <author href="http://www.guardian.co.tt" email="dewayne.berkeley@guardian.co.tt">
        Dewayne Berkeley
    </author>
	
	<feature name="Device">
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>
	

    <access origin="*"/>
	
	<gap:splash src="splash.png" />
	
	
    <!-- <content src="http://mysite.com/myapp.html" /> for external pages -->
    <content src="index.html" />
	
	<icon src="logo.png" />
	
      <preference name="Fullscreen" value="true" />
	  <preference name="SplashScreen" value="screen" />
	  <preference name="SplashScreenDelay" value="10000" />
      <preference name="BackgroundColor" value="0xff0000ff"/>

  <!--		<preference name="loadUrlTimeoutValue" value="20000" />
      <preference name="InAppBrowserStorageEnabled" value="true" />
      <preference name="disallowOverscroll" value="true" />
    -->
</widget>
